* {
  margin: 0;
  font-family: "Readex Pro", sans-serif;
}
body {
  background-color: rgb(250, 101, 116);
}

/* img {
  width: 280px;
  height: 280px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgb(222, 222, 222);
  pointer-events: none;
} */

.cardImg {
  width: 280px;
  height: 280px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgb(222, 222, 222);
  pointer-events: none;
}
.App {
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.cardContainer {
  width: 290px;
  height: 410px;
  border-radius: 10px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 1px;
  position: relative;
  perspective: 750px;
}

.cardContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;
}
.cardContents:active {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  margin-left: 17px;
}

.cardBack {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#stain {
  position: absolute;
  border: none;
  opacity: 0.2;
  margin-left: 500px;
  margin-bottom: 20px;
  width: 280px;
  height: 280px;
  transform: rotate(10deg);
  align-self: flex-end;
  justify-self: flex-end;
  z-index: -1;
}
#stain2 {
  position: absolute;
  border: none;
  opacity: 1;
  margin-left: 20px;
  margin-top: 270px;
  overflow: hidden;
  object-fit: contain;
  width: 90px;
  height: 90px;
  align-self: flex-end;
  justify-self: flex-end;
  z-index: -1;
}
#stain3 {
  position: absolute;
  border: none;
  opacity: 0.5;
  margin-right: 200px;
  margin-top: 200px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  align-self: flex-end;
  justify-self: flex-end;
  z-index: -1;
}
.moreThanTen {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.recipeTitle {
  align-self: flex-start;
  margin-left: 12px;
  margin-bottom: 1px;
  margin-top: 5px;
  font-size: 16px;
  min-width: 200px;
  max-height: 20px;
}
.longRecipeTitle {
  font-size: 14px;
  align-self: center;
}
.recipeImage {
  border-radius: 10px;
  margin-top: 10px;
  width: 275px;
  height: 280px;
  display: flex;
  justify-content: center;
}

.ingredients {
  list-style: none;
  display: flex;
  align-self: flex-start;
  margin-left: 6px;
}

.ingredient {
  text-decoration: none;
  border: 1px solid rgb(232, 232, 232);
  text-align: center;
  margin: 5px;
  margin-bottom: 6px;
  padding: 5px;
  border-radius: 7px;
  font-size: 9pt;
}
.backIngredient {
  text-decoration: none;
  border: 1px solid rgb(232, 232, 232);
  text-align: center;
  margin: 5px;
  margin-bottom: 6px;
  padding: 5px;
  border-radius: 7px;
  font-size: 10pt;
  width: 40%;
}
.manyBackIngredient {
  font-size: 8.5pt;
}
.tagFill {
  height: 37px;
}

.iconList {
  display: flex;
  justify-content: center;
  margin-right: 14px;
}
.x {
  transition: all 0.1s ease-in-out;
  color: rgb(243, 71, 71);
}
.xContainer {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  text-align: center;

  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}
.burgerContainer {
  position: absolute;
  margin-top: 150px;
  margin-left: 97px;
}
.burgerIcon {
  color: coral;
}
.heartContainer {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 46px;
  height: 46px;
  text-align: center;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}
.heart {
  color: rgb(65, 168, 65);
  transition: all 0.1s ease-in-out;
  margin-top: 1px;
}
.x:hover {
  transform: scale(1.2);
}
.heart:hover {
  transform: scale(1.2);
}

#xButton {
  width: 30px;
  height: 30px;
  background-color: black;
  position: relative;
}
#heartButton {
  width: 30px;
  height: 30px;
  background-color: yellow;
  position: relative;
}

.table {
  background-color: rgb(250, 161, 101);
  position: absolute;
  top: 530px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#containerBack {
  height: 200px;
  width: 400px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(128, 87, 50);
  z-index: 1;
  margin-top: 10px;
  align-self: center;
}
#containerFront {
  height: 200px;
  width: 400px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: rgb(152, 102, 58);
  z-index: 1;
  position: absolute;
  margin-top: 7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.propCard {
  width: 360px;
  height: 190px;
  border-radius: 7px;
  background-color: antiquewhite;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

#prop1 {
  background-color: beige;
  margin-left: 10px;
  transform: rotate(3deg);
}
#prop2 {
  background-color: rgb(232, 219, 203);
  transform: rotate(-3deg);
  left: 10px;
}
#prop3 {
  background-color: rgb(253, 249, 241);
  transform: rotate(0.5deg);
}

#containerFace {
  width: 380px;
  height: 160px;
  background-color: black;
  z-index: 10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(192, 116, 51);
  margin-top: 47px;
  margin-left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.recipeCounter {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  color: blanchedalmond;
  padding: 3px;
}
.shadow {
  width: 380px;
  height: 11px;
  border-radius: 10px;
  background-color: rgba(7, 7, 39, 0.8);
  left: 10px;
  opacity: 1;
  top: 213px;
  position: relative;
}

.endScreen {
  width: 800px;
  height: 610px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.endScreenTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 670px;
  border-radius: 10px;
  padding: 10px;
}
.pdfButton {
  width: 160px;
  border-radius: 5px;
  border: none;
  height: 50px;
  background-color: rgb(86, 140, 255);
  color: rgb(36, 36, 36);
  transition: ease-out 0.2s;
  box-shadow: inset 0 0 0 0 coral;
  font-size: large;
}
.pdfButton:hover {
  box-shadow: inset 160px 0 0 0 coral;
  cursor: pointer;
  color: white;
}
.selectedPdfButton {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: coral;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.endScreenText {
  font-size: 24px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.endScreenTextFrag {
  font-size: 24px;
  margin: none;
}
.recipeCount {
  color: rgb(250, 101, 116);
  font-weight: bold;
  font-size: 28px;
}

.picky {
  color: rgb(250, 101, 116);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}
.endEarly {
  height: 190px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
}

#pdf-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 587px;
  height: 900px;
  padding: 34px;
  padding-top: 200px;
  top: 0;
  bottom: -150;
  pointer-events: none;
}
.pdfItemContainer {
  border: 1px solid black;
}

.recipeTab {
  text-align: left;
  margin: 30px;
}

.credits {
  position: absolute;
  top: 0;
  y: 0;
  margin-top: 10px;
  margin-left: 5px;
  color: rgb(195, 78, 90);
}
.credits2 {
  position: absolute;
  top: 0;
  y: 0;
  margin-top: 35px;
  margin-left: 5px;
  color: rgb(195, 78, 90);
}
.credits3 {
  position: absolute;
  top: 0;
  y: 0;
  margin-top: 60px;
  margin-left: 5px;
  color: rgb(195, 78, 90);
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.splash {
  position: absolute;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  cursor: pointer;
}

.splashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.enterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tinyImage {
  width: 40%;
}
.thankyou {
  display: flex;
  justify-content: space-around;
}
.thankyouBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.pickyContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pickyButton {
  height: 130px;
  width: 250px;
  font-size: 40px;
  background-color: white;
  color: rgb(250, 101, 116);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: ease-out 0.2s;
  box-shadow: inset 0 0 0 0 coral;
  border: 1px solid rgb(225, 219, 219);
}

.pickyButton:hover {
  box-shadow: inset 260px 0 0 0 coral;
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(251, 177, 177);
}
